<html>

<head>
  <title>ill.fi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/pure.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>
  <p style="margin-left: 4vw; margin-top: 7vh; color: #fcfcfc;">ill.fi</p>

  {% if current_user.is_authenticated %}
  <p style="color: #FCFCFC; margin-left: 4vw; margin-top: 0px; font-size: 17px"> Welcome home, {{ current_user.username }}. </p> <a style="margin-left: 4vw;" href="profile">Profile</a>
  <a style="margin-left: 10px;" href="logout">Log Out</a> 
    {% else %} 
      {% with messages = get_flashed_messages() %} 
        {% if messages %}
          <div class="notif">{{ messages[0] }}</div>
          {% endif %}
          {% endwith %}
        
  <form style="margin-left: 4vw;"id="login-form" class="login-form" method="POST" action="login">
    <fieldset style="border:none; padding-left:0px; margin-left:0px;">
      <input onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" class="ill-input" type="email" name="email"
        placeholder="Email">
      <input onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }" class="ill-input" type="password" name="password"
        placeholder="Password">
      <a onclick='document.getElementById("login-form").submit();' style="cursor: pointer; margin-left: 20px; margin-right: 1px;">Login</a>        <a style="text-decoration: none;">or</a> <a href="join">Join</a>
    </fieldset>
  </form>
  {% endif %} 


  <div class="joinlinks">
    <a style="padding-right: 1vw;" href="docs">Documentation</a>
    <a style="padding-right: 1vw;" href="faq">FAQ</a> 
  </div>
  <div class="stats">
    <p class="stat"> Files > <strong class="descriptor">{{ files }}</strong></p>
    <p class="stat"> Storage Used > <strong class="descriptor"> {{ fsize }}</strong> / ∞</p>
    <p class="stat"> Users > <strong class="descriptor">{{ users }}</strong></p>
  </div>
</body>

</html>