<html>
  <head>
    <title>ill.fi</title>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/forms.js')}}"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <body onload="">
    <div align="center">
      <h1 style="margin-top: 10vh;">ill.fi</h1>
      <table class = "table table-striped" style="width: 50%;">
   <caption>{{current_user.username}}'s uploads</caption>
   <thead>
      <tr>
         <th>filename</th>
         <th>original filename</th>
         <th>deletion key</th>
         <th>disown divison</th>
      </tr>
   </thead>
   <tbody>
     {% for file in files %}
     <tr>
       <td>{{file.id}}</td>
       <td>{{file.original_name}}</td>
       <td>{{file.deletion_key}}</td>
       <td><div class="btn btn-primary btn-sm" onclick='delete_file("{{ file.id }}", "{{ file.deletion_key }}")'>delete</div></td>
      </tr>
     {% endfor %}
   </tbody>
</table>
    </div>
    <a href="/profile" class="back btn btn-primary">back</a>
  </body>
</html>
