<html>

<head>
  <title>ill.fi</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <style>
    body {
      color: #e2e2e2;
      font-family: sans-serif;
    }

    h3 {
      color: #FCFCFC;
    }

    b {
      color: #FF3333;
    }
  </style><script src="{{ url_for('static', filename='script/forms.js')}}"></script>
    
</head>

<body>
  <p style="margin-left: 4vw; margin-top: 7vh; color: #fcfcfc;">/ill.fi/<span style="color: #FF3333">{{ current_user.username }}</span>/</p>

  <div style="margin-left: 4vw;">
    <a href="/" class="low-btn row-md-4 btn btn-primary">Home</a>
    <a href="/api/upload" class="low-btn row-md-4 btn btn-primary">Upload</a>
    <a href="logout" class="low-btn row-md-4 btn btn-primary">Log Out</a>
  </div>
  <br/>
  {% if (files is defined) and files %}
  <table align="left" style="margin-left: 4vw; margin-right: 4vw;"class="pure-table pure-table-horizontal">
    <caption style="color: #FCFCFC">Uploads</caption>
    <thead>
       <tr>
          <th>Filename</th>
          <th>Original Filename</th>
          <th>Deletion Key</th>
          <th>Delete</th>
       </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td>{{file.id}}</td>
        <td>{{file.original_name}}</td>
        <td>{{file.deletion_key}}</td>
        <td><a style="cursor: pointer;" onclick='delete_file("{{ file.id }}", "{{ file.deletion_key }}")'>delete</div></td>
       </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p style="margin-left: 4vw; margin-top: 0px;">No files uploaded.</p>
  {% endif %}

  </div>
</body>

</html>